/*class Generales*/
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.evenly {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.row_evenly {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
}

.column_between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.colorWhite {
    color: white;
}

.backWhite {
    background-color: white;
}

.backGris {
    background: #F6F6F6;

}

.colorNoir {
    color: #353535;
}

.backNoir {
    background-color: #353535;
}

.colorRose {
    color: #FF79DA;
}

.backRose {
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);

}

.colorViolet {
    color: #9356DC;
}

.backViolet {
    background-color: #9356DC;
}

.colorGreen {
    color: #99E2D0;
}

.backGreen {
    background-color: #99E2D0;
}

.colorBlack {
    color: black;
}

.noDecoration {
    text-decoration: none;
}

.noBorder {
    border: none;
}

.bold {
    font-weight: 600;
}

.light {
    font-weight: 400;
}

* {
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
ul,
p {
    margin: 0;
    padding: 0;
}

.elipsis {
    text-overflow: ellipsis;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    margin: 0;
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

#loader-container {
    display: flex;
    text-align: center;
    justify-content: center;
    position: fixed;
    padding: 20%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    color: black;
    opacity: 0;
    -webkit-animation: fadeOut 2s;
    animation: fadeOut 3s;
}

.dot {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #353535;
    margin: 0 15px;
    animation: loader infinite 0.3s alternate;
}

.d2 {
    animation-delay: 0.05s;
}

.d3 {
    animation-delay: 0.13s;
}

@keyframes loader {
    100% {
        transform: translateY(-30PX);
    }
}

.header_menu {
    padding: 1% 10% 1% 0%;

}

.header_container {
    align-items: center;
}

.arrow_left_header {
    width: 10%;
    text-align: center;
    font-size: 24px;
}

.img_header_menu {
    width: 84%;
    display: flex;
    place-content: center;
}

.logo_ohmyfood {
    width: 215px;
    height: 36px;
    margin: 1%;
}

.font_Logo--title {
    font-family: 'Shrikhand', cursive;
}

.font_size--title {
    font-size: 28px;
}

.header_infoMenu {
    background: #EAEAEA;
    width: 100%;
    padding: 3%;
}

.header_menuLocation {
    padding-left: 5%;
}

#section_info {
    padding: 10%;
}

.section_textReservation * {
    text-align: center;
    margin-bottom: 15px;
}

.padding_section {
    padding-top: 30px;
    padding-bottom: 30px;
}

.button_rose {
    border-radius: 25px;
    box-shadow: 1px 5px 5px lightgrey;
    width: 218px;
    height: 50px;
    margin-top: 30px;
}

.button_rose:hover {
    cursor: pointer;
    box-shadow: 1px 5px 5px grey;
    background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%),
        linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));

}

.fonctionnement_bouton {
    position: relative;
    box-shadow: 1px 5px 14px lightgray;
    border-radius: 20px;
    width: 90%;
    height: 72px;
    margin: 2% auto;
    cursor: pointer;
}

.fonctionnement_bouton::before {
    content: attr(data-numero);
    /* Récupère le numéro depuis l'attribut data-numero */
    display: block;
    position: absolute;
    left: -10px;
    /* Ajustez cette valeur pour positionner le numéro */
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background-color: #9356DC;
    /* Couleur du cercle */
    color: white;
    /* Couleur du texte (numéro) */
    text-align: center;
    line-height: 25px;
    font-size: 14px;
    border-radius: 50%;
    /* Crée un cercle */
    z-index: 1;
    /* Place le numéro derrière le bouton */
}

.fonctionnement_iconeButton {
    color: #7E7E7E;

}

.fonctionnement_bouton:hover .fonctionnement_iconeButton {
    color: #9356dc;
}

.title {
    padding: 3%;
}

.link_pages {
    text-decoration: none;
    color: #353535;
}

.restaurant_card {
    cursor: pointer;
    width: 90%;
    margin: 2% auto;
}

.restaurant_card--photo {
    border-radius: 20px 20px 0px 0px;
    height: 230px;
}

.container_textCard {
    border-radius: 0 0 20px 20px;
    padding: 2%;
}

.icone_coeur-label .icone_coeur {
    cursor: pointer;
}

.hidden-checkbox {
    display: none;
}


.icone_coeurPlein {
    display: none !important;
}

.hidden-checkbox:not(:checked)+.icone_coeur-label .icone_coeur {
    display: block;
}

.hidden-checkbox:checked+.icone_coeur-label .icone_coeur {
    display: none;
}

.hidden-checkbox:checked+.icone_coeur-label .icone_coeurPlein {
    display: block !important;
    margin: -1%;
    background: radial-gradient(circle at 30% -33%, #9356DC -11.44%, #FF79DA 123.93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1;
}

.menu_card--container {
    box-shadow: 1px 5px 14px lightgray;
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: 20px;
}

.slide_in {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    align-items: center;
    background-color: #99E2D0;
    color: white;
    padding: 0 25px;
    border-radius: 0 20px 0 0;
}

.slide_in i {
    margin-right: 5px;
}

/* Animation de glissement au survol */
.menu_card--container:hover .slide_in {
    display: flex;
    animation: slideIn 0.5s ease-in-out forwards;
}

/* Définition de l'animation avec keyframes pour le slide-in */
@keyframes slideIn {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

/* Animation de déplacement du prix */
.menu_card--container:hover .container_text .price-container {
    animation: movePrice 0.5s ease-in-out forwards;
}

/* Définition de l'animation avec keyframes pour le déplacement du prix */
@keyframes movePrice {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-220%);
    }
}


.price-container {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}




footer {
    padding: 20px;
}

.footer_logo {
    margin-bottom: 3%;
}

.footer_link {
    list-style-type: none;
    margin-top: 2%;

}

.restaurant_header--photo {
    position: relative;
    z-index: -1;
}

.contacts {
    text-decoration: none;
    color: white;
}

#menu {
    width: 100%;
    border-radius: 40px 40px 0 0;
    margin: 0 auto;
    padding: 3%;
    margin-top: -15%;
}

@keyframes slide {
    from {
        margin-left: 100%;
        width: 0%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

.delay_1 {
    animation-duration: 4s;
    animation-delay: 1.5s;
    animation-name: slide;
}

.delay_2 {
    animation-duration: 4s;
    animation-delay: 2s;
    animation-name: slide;
}

.delay_3 {
    animation-duration: 4s;
    animation-delay: 3s;
    animation-name: slide;
}

.title_menu {
    padding: 4%;
    border-radius: 40px 40px 0 0;
    width: 97%;
}

.details_menu {
    width: 100%;
}

.menu_card--container {
    margin: 3% auto;
    border-radius: 20px;
    padding: 2%;
}

.menu_button {
    margin-bottom: 7%;
}

.title_underline {
    padding-bottom: 4px;
    margin-bottom: 1%;
    border-bottom: 4px solid #99E2D0;
}

.title_padding {
    padding-bottom: 1%;
}

.home_newMenu {
    position: relative;
}

.new {
    position: absolute;
    width: 30%;
    height: 10%;
    padding: 5%;
    top: 10%;
    right: 5%;
    color: #008766;

}

@media screen and (min-width: 768px) {
    .fonctionnement_BarreBoutons {
        flex-direction: row;
        width: 90%;
        justify-content: space-around;
        margin: 0 auto;
    }

    .fonctionnement_bouton {
        width: 30%;
    }

    .new {
        padding: 3%;
        width: 20%;
    }

    .restaurants_cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .title_menu {
        width: 33%;
        padding: 0;
    }

    #menu {
        width: 80%;
    }

    #footer {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .footer_logo {
        margin-bottom: 0;
    }

    .footer_links {
        flex-direction: row;
        width: 65%;
        margin-top: 0%;
    }

    .footer_link {
        margin: 2%;
    }
}